<div>
  <h2>Pennsylvania Capital Semester Program Alumni</h2>
    <p>Need Description</a></p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">

      <ul>
        <li><a href="https://liberalarts.temple.edu/hannah-binder" title="Hannah Binder">Hannah Binder</a></li>
        <li><a href="https://liberalarts.temple.edu/damien-bower" title="Damien Bower">Damien Bower</a></li>
        <li><a href="https://liberalarts.temple.edu/julie-carr" title="Julie Carr">Julie Carr</a></li>
        <li><a href="https://liberalarts.temple.edu/mark-dinich" title="Mark Dinich">Mark Dinich</a></li>
        <li><a href="https://liberalarts.temple.edu/margaret-durkin" title="Margaret Durkin">Margaret Durkin</a></li>
        <li><a href="https://liberalarts.temple.edu/van-huynh" title="Van Huynh">Van Huynh</a></li>
        <li><a href="https://liberalarts.temple.edu/tim-keller" title="Tim Keller">Tim Keller</a></li>
        <li><a href="https://liberalarts.temple.edu/ryan-lim" title="Ryan Lim">Ryan Lim</a></li>
        <li><a href="https://liberalarts.temple.edu/adam-maguire" title="Adam Maguire">Adam Maguire</a></li>
        <li><a href="https://liberalarts.temple.edu/ryan-smoker" title="Ryan Smoker">Ryan Smoker</a></li>
        <li><a href="https://liberalarts.temple.edu/alyssa-weinhold" title="Alyssa Weinhold">Alyssa Weinhold</a></li>
      </ul>
    </div>
   </div>
  
<div>
  <h2>Washington Capital Semester Program Alumni</h2>
    <div class="row">
      <div class="col s12 m6">
   
      <ul>
        <li><a href="https://liberalarts.temple.edu/taylor-jourdan-allen" title="Taylor Jourdan Allen">Taylor Jourdan Allen</a></li>
        <li><a href="https://liberalarts.temple.edu/griffin-a-caruso" title="Griffin A. Caruso">Griffin A. Caruso</a></li>
        <li><a href="https://liberalarts.temple.edu/nadia-ouazzi" title="Nadia Ouazzi">Nadia Ouazzi</a></li>
        <li><a href="https://liberalarts.temple.edu/mary-strehl" title="Mary Strehl">Mary Strehl</a></li>
      </ul>
    </div>
   </div>  
