<div>
  <h2>Pennsylvania Capital Semester Program Alumni</h2>
    <p>Past students in the program were majors in: Economics, Finance, Social Work, Public Relations, Journalism, Broadcast Journalism, Criminal Justice, Sociology, Philosophy, and Political Science, but students from any major can apply.</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">

      <ul>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/binder-hannah" title="Hannah Binder">Hannah Binder</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/bower-damien" title="Damien Bower">Damien Bower</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/carr-julie" title="Julie Carr">Julie Carr</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/dinich-mark" title="Mark Dinich">Mark Dinich</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/durkin-margaret" title="Margaret Durkin">Margaret Durkin</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/huynh-van" title="Van Huynh">Van Huynh</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/keller-tim" title="Tim Keller">Tim Keller</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/lim-ryan" title="Ryan Lim">Ryan Lim</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/maguire-adam" title="Adam Maguire">Adam Maguire</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/smoker-ryan" title="Ryan Smoker">Ryan Smoker</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/weinhold-alyssa" title="Alyssa Weinhold">Alyssa Weinhold</a></li>
      </ul>
    </div>
   </div>
  
<div>
  <h2>Washington Capital Semester Program Alumni</h2>
    <div class="row">
      <div class="col s12 m6">
   
      <ul>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/allen-taylor-jordan" title="Taylor Jourdan Allen">Taylor Jourdan Allen</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/griffin-caruso-a" title="Griffin A. Caruso">Griffin A. Caruso</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/ouazzi-nadia" title="Nadia Ouazzi">Nadia Ouazzi</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/centers/institute-for-public-affairs/strehl-mary" title="Mary Strehl">Mary Strehl</a></li>
      </ul>
    </div>
   </div> 
