<div>
  <h2>Washington Capital Semester Program Alumni</h2>
    <p>Need Description</a></p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">

      <ul>
        <li><a href="https://liberalarts.temple.edu/juwan-z-bennett" title="Juwan Z. Bennett">Juwan Z. Bennett</a></li>
        <li><a href="https://liberalarts.temple.edu/bullock-haley" title="Haley Bullock">Haley Bullock</a></li>
        <li><a href="https://liberalarts.temple.edu/chelsey-cain" title="Chelsey Cain">Chelsey Cain</a></li>
        <li><a href="https://liberalarts.temple.edu/jung-cho" title="Jung Cho">Jung Cho</a></li>
        <li><a href="https://liberalarts.temple.edu/chelsey-donohoe" title="Chelsey Donohoe">Chelsey Donohoe</a></li>
        <li><a href="https://liberalarts.temple.edu/mollie-ducoste" title="Mollie Ducoste">Mollie Ducoste</a></li>
        <li><a href="https://liberalarts.temple.edu/jillian-eidson" title="Jillian Eidson">Jillian Eidson</a></li>
        <li><a href="https://liberalarts.temple.edu/john-farrell" title="John Farrell">John Farrell</a></li>
        <li><a href="https://liberalarts.temple.edu/ryan-fisher" title="Ryan Fisher">Ryan Fisher</a></li>
        <li><a href="https://liberalarts.temple.edu/nili-gesser" title="Nili Gesser">Nili Gesser</a></li>
        <li><a href="https://liberalarts.temple.edu/leah-hamilton" title="Leah Hamilton">Leah Hamilton</a></li>
        <li><a href="https://liberalarts.temple.edu/courtney-harding" title="Courtney Harding">Courtney Harding</a></li>
        <li><a href="https://liberalarts.temple.edu/robert-heinzeroth" title="Robert Heinzeroth">Robert Heinzeroth</a></li>
        <li><a href="https://liberalarts.temple.edu/abigail-henson" title="Abigail Henson">Abigail Henson</a></li>
        <li><a href="https://liberalarts.temple.edu/bria-higgs" title="Bria Higgs">Bria Higgs</a></li>
        <li><a href="https://liberalarts.temple.edu/ingrid-johnson" title="Ingrid Johnson">Ingrid Johnson</a></li>
        <li><a href="https://liberalarts.temple.edu/nicole-johnson" title="Nicole Johnson">Nicole Johnson</a></li>
        <li><a href="Evangelica Juarez" title="Evangelica Juarez">Evangelica Juarez</a></li>
      </ul>
    </div>
   </div>
  
<div>
  <h2>Washington Capital Semester Program Alumni</h2>
    <div class="row">
      <div class="col s12 m6">
   
      <ul>
        <li><a href="https://liberalarts.temple.edu/juwan-z-bennett" title="Juwan Z. Bennett">Juwan Z. Bennett</a></li>
        <li><a href="https://liberalarts.temple.edu/bullock-haley" title="Haley Bullock">Haley Bullock</a></li>
        <li><a href="https://liberalarts.temple.edu/chelsey-cain" title="Chelsey Cain">Chelsey Cain</a></li>
        <li><a href="https://liberalarts.temple.edu/jung-cho" title="Jung Cho">Jung Cho</a></li>
        <li><a href="https://liberalarts.temple.edu/chelsey-donohoe" title="Chelsey Donohoe">Chelsey Donohoe</a></li>
        <li><a href="https://liberalarts.temple.edu/mollie-ducoste" title="Mollie Ducoste">Mollie Ducoste</a></li>
        <li><a href="https://liberalarts.temple.edu/jillian-eidson" title="Jillian Eidson">Jillian Eidson</a></li>
        <li><a href="https://liberalarts.temple.edu/john-farrell" title="John Farrell">John Farrell</a></li>
        <li><a href="https://liberalarts.temple.edu/ryan-fisher" title="Ryan Fisher">Ryan Fisher</a></li>
        <li><a href="https://liberalarts.temple.edu/nili-gesser" title="Nili Gesser">Nili Gesser</a></li>
        <li><a href="https://liberalarts.temple.edu/leah-hamilton" title="Leah Hamilton">Leah Hamilton</a></li>
        <li><a href="https://liberalarts.temple.edu/courtney-harding" title="Courtney Harding">Courtney Harding</a></li>
        <li><a href="https://liberalarts.temple.edu/robert-heinzeroth" title="Robert Heinzeroth">Robert Heinzeroth</a></li>
        <li><a href="https://liberalarts.temple.edu/abigail-henson" title="Abigail Henson">Abigail Henson</a></li>
        <li><a href="https://liberalarts.temple.edu/bria-higgs" title="Bria Higgs">Bria Higgs</a></li>
        <li><a href="https://liberalarts.temple.edu/ingrid-johnson" title="Ingrid Johnson">Ingrid Johnson</a></li>
        <li><a href="https://liberalarts.temple.edu/nicole-johnson" title="Nicole Johnson">Nicole Johnson</a></li>
        <li><a href="Evangelica Juarez" title="Evangelica Juarez">Evangelica Juarez</a></li>
      </ul>
    </div>
   </div>  
